@import "./Style/fonts";
@import "./Style/color";
@import "./Style/custom/formTextField";

body {
  font-family: DM Sans Regular;
  background-color: rgb(249 249 249);
}
html, body {
  height: 100%;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}
.MuiFilledInput-root.Mui-focused,
.MuiFilledInput-root:hover  {
    background-color: #fff !important;
    box-shadow: 0 0 3px 1px #ace3ff, inset 0 0 2px 1px #146086;
    border-radius: 10px;
}
@keyframes slideUpFromBottom {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
.slideUp{
  animation: 1s ease-out 0s 1 slideUpFromBottom;
}
.link--Button.MuiButton-root {
  color: $jellyBean;
  padding: 0;
  .MuiButton-label {
    text-transform: none;
    letter-spacing: 1px;
  }
}

.form--Button.MuiButton-containedPrimary {
  width: 100%;
  background-color: $blueWhale;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: DM Sans Regular;
  border-radius: 10px;
  text-transform: none;
  font-weight: 400;
  font-size: 15px;
  box-shadow: none;
  &:hover {
    background-color: $jellyBean;
  }
}

Link a {
  text-decoration: none;
}

.messageBox {
  background-color: $jellyBean;
  width: auto;
  padding: 15px;
  border-radius: 15px;
  margin-bottom: 24px;
  font-weight: 300;
  text-align: left;
  .messageBox--Text {
    font-family: DM Sans Regular;
    font-size: 15px;
    margin: 0;
    color: $veryLightShadeOfGray;
  }
}

.pageTitle {
  color: $blueWhale;
  font-size: 22px;
  font-family: Benzin Extra Bold;
  display: inline-block;
  transform: scale(1, 1.3);
  letter-spacing: 1px;
  text-transform: capitalize;
}
.appbar-filter-Icon {
  width: 44px;
    margin: auto;
    vertical-align: middle;
    padding-left: 18px;
}