@import "../../Style/color";

.header-opened {
  .kwad-logo-header{
    img{
      width: 90px;
      margin: auto;
      vertical-align: middle;
    }
  }
  .header-icons{
    display: flex;
    .MuiSvgIcon-root{
      font-size: 2rem;
      color: #023246;
      vertical-align: middle;
      margin: auto;
    }
  }
}