@import "../../Style/color";

.sidebar-logo-img {
  width: 80px;
}
.MuiDrawer-root {
  background-color: #023246;
  .MuiList-root {
    top: 50%;
    transform: translateY(calc(-50% - 64px));
    overflow: hidden;
    .MuiListItem-root{
      position: relative;
      margin: auto;
      padding: 10px;
      .MuiListItemButton-root {
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        .MuiListItemIcon-root {
          color: #fff;
          display: block;
          .MuiSvgIcon-root {
            font-size: 2.4rem;
            margin: auto;
            display: flex;
            color: #fff;
          }
          .MuiBadge-badge {
            top: 8px;
            right: 8px;
          }
        };
        .MuiListItemAvatar-root {
          .MuiAvatar-root {
            margin: auto;
            width: 64px;
            height: 64px;
          }
          p {
            margin: 0;
            line-height: 1;
          }
        }
      }    
    }
    .MuiListItem-root.active::after {
      content: "";
      background: #a3e1d7;
      position: absolute;
      bottom: 25%;
      right: 0;
      height: 40px;
      width: 10px;
      border-radius: 20px;
    }
  }
  .sidebar-toggle-btn {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    bottom: 0;
    right: 0;
    .MuiSvgIcon-root {
      font-size: 5rem;
      fill: #f6f6f6;
    }
  }
}

