@import "../../Style/color";

.project-wrapper{
  font-family: inherit;
  margin-bottom: 10px;
  .MuiCard-root{
    position: relative;
    .MuiCardHeader-root{
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      z-index: 1;
      background-image: linear-gradient(rgba(2,50,70,1),rgba(2,50,70,0.6),rgba(2,50,70,0.3), rgba(2,50,70,0));
      padding: 5px !important;
      svg {
        color: #f6f6f6;
      }
    }
    .MuiCardContent-root{
      line-height: 1.2;
      font-size: 1rem;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-line-clamp: 2; /* number of lines to show */
      line-clamp: 2;
      -webkit-box-orient: vertical;
      display: flex;
      color: #f6f6f6;
      position: absolute;
      bottom: 0;
      right: 0;
      padding: 5px !important;
      z-index: 1;
      background-image: linear-gradient(rgba(2,50,70,0),rgba(2,50,70,1));
      svg {
        color: #f6f6f6;
      }
    }
  }  
  
  .pin--Content {
    display: flex;
    margin-top: 5px;
    .pin--Content--Title {
      font-size: 1rem;
      font-weight: bold;
      color: $blueWhale;
    }
  }
}